<!DOCTYPE html>
<html layout:decorator="layouts/default" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <title>Login</title>
  </head>
  <body>
    <div layout:fragment="content">
        <div th:if="${param.error}">
            Pas bon
        </div>
        <div th:if="${param.logout}">
            Déconnecté(e)
        </div>
        <form th:action="@{/login}" method="post">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Sign In"/></td>
                </tr>
            </table>
        </form>
    </div>
  </body>
</html>

